<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Me - Shehanka Fernando</title>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

        <link href="{% static 'css/aboutme.css' %}" rel="stylesheet">
    </head>
    <body >
<div>{% include 'navbar.html' %}
   <section class="block-content  l-block-spacing">
					<div class="l-contained">
						<header class="heading-group">
							<h2 style="color: white">About Me</h2>
							<p class="subtitle" style="color: white">
								An Operations Engineer's tale
							</p>
						</header>
						<ul class="timeline-list">
							<li>
                                <div class="content">
								<h3>Who am I?</h3>

								<p style="color: white">

                                     Hey there! I am Shehanka Fernando an avid tech enthusiast with a penchant to learn new and exciting things in the world of Technology. I started my pathway of becoming a Software
                                     Engineer in the year of 2015 when I joined the Sri Lankan Institute of Technology (Commonly known as SLIIT) and enrolled in Diploma of Information Technology
                                     which I then completed at the end of year 2016, after which I proceeded to transfer to the University of Curtin in Western Australia in 2017 to enrol in their Bsc in
                                     Information Technology (Software Engineering Stream) which I completed in the year of 2020.
                                </p>
                                <p style="color: white">
                                    Currently I am working as an Associate Operations Engineer at Pearson Education PLC, and do freelancing projects in my spare time. Right now you can directly contact me on Linkedin

                                </p>

                                <p>
                                    <div class="card bg-dark" style="width: 18rem;">
                                    <a href="https://www.linkedin.com/in/shehanka-fernando-2a0932a9">
                                    <img class="card-img-top" src="{% static 'images/linkedinlogo.png' %}" style="width: 70%; margin-top: 2%;margin-left: 20%;margin-bottom: 2%" alt="LinkedIn">
                                    </a>
                                    </div>
                                </p>
                                </div>
							</li>
							<li>
                                <div class="content">
								<h3>My Tech Stack</h3>
                                        <div class="card" style="width: 18rem;border-color: #424241;margin-right: 20%">
                                        <div class="card-header" style="background-color:black;color: white;font-size: 150%;font-family: Arial, Helvetica, sans-serif" >Backend</div>
                                        <ul class="list-group list-group-flush" >
                                            <ul class="list-group-item"style="background-color:#424241;color: white">Python - Django</ul>
                                            <ul class="list-group-item" style="background-color:#424241;color: white">C# - .NET Core and Framework</ul>
                                            <ul class="list-group-item" style="background-color:#424241;color: white">Java</ul>
                                            <ul class="list-group-item" style="background-color:#424241;color: white">Databases - MySQL and MSSQL</ul>
                                            </ul>
                                        </div>

                                        <div class="card" style="width: 18rem;border-color: #424241;margin-right: 20%;margin-top: 10%">
                                        <div class="card-header" style="background-color:#071724;color: white;font-size: 150%;font-family: Arial, Helvetica, sans-serif" >Frontend</div>
                                        <ul class="list-group list-group-flush" >
                                            <ul class="list-group-item"style="background-color:#424241;color: white">Bootstrap</ul>
                                            <ul class="list-group-item" style="background-color:#424241;color: white">Angular</ul>
                                            <ul class="list-group-item" style="background-color:#424241;color: white">VueJS</ul>
                                            </ul>
                                        </div>

                                        <div class="card" style="width: 18rem;border-color: #424241;margin-right: 20%;margin-top: 10%">
                                        <div class="card-header" style="background-color:#071f0a;color: white;font-size: 135%;font-family: Arial, Helvetica, sans-serif" >DevOps</div>
                                        <ul class="list-group list-group-flush" >
                                            <ul class="list-group-item"style="background-color:#424241;color: white">Cloud technologies - AWS and GCP</ul>
                                            <ul class="list-group-item" style="background-color:#424241;color: white">Docker</ul>
                                            <ul class="list-group-item" style="background-color:#424241;color: white">NGINX</ul>
                                            <ul class="list-group-item" style="background-color:#424241;color: white">Gunicorn</ul>
                                            <ul class="list-group-item" style="background-color:#424241;color: white">Monitoring - NewRelic with Selenium</ul>
                                            <ul class="list-group-item" style="background-color:#424241;color: white">Monitoring - Grafana and Prometheus</ul>
                                            </ul>
                                        </div>



                                </div>
							</li>
                            <li>
                                <div class="content">
								<h3> Work Experience </h3>

                                <div class="card" style="width: 115%;">
                                <div class="card-body" style="background-color: #424241">
                                    <h5 class="card-title" style="color: white">S&E Car Grooming and Valet Services – Android Application Development</h5>
                                    <h6 class="card-subtitle mb-2" style="color: white; padding-bottom: 5%">[ January 2016 – August 2016]</h6>
                                        <p class="card-text" style="color: white">Development of Android application to allow customer’s clients to book services in advance and edit them or contact the service station via the application itself.</p>
                                        <p class="card-text" style="color: white">This boosted the ability of the client to manage bookings more effectively and thereby increase the number of clients he could service at any given time, boosting his revenue.</p>

                                </div>
                                </div>

                                <div class="card" style="width: 115%;margin-top: 5%">
                                <div class="card-body" style="background-color: #424241">
                                    <h5 class="card-title" style="color: white">Enrolment Helper: UI/UX Developer with backend integration </h5>
                                    <h6 class="card-subtitle mb-2" style="color: white;padding-bottom: 5%">[January 2018- December 2018]</h6>
                                        <p class="card-text" style="color: white">Premise of project is to aid lecturers to create a study plan for new students and returning students (based on previous study), since it was a continuation of a previous incomplete project, technologies were already set.</p>
                                        <p class="card-text" style="color: white">I was responsible for different user logins, creation of blank plans and editing existing plans via interactive drag and drop swap in the UI (Both front-end UI and back-end development).</p>
                                    <p class="card-text" style="color: white">Creation of program saved the client approximately 20-35 hours of work per week, when compared with the manual process.</p>

                                </div>
                                </div>

                                <div class="card" style="width: 115%;margin-top: 5%">
                                <div class="card-body" style="background-color: #424241">
                                    <h5 class="card-title" style="color: white">Sixth Sense Trading Web Application: Web App Developer.</h5>
                                    <h6 class="card-subtitle mb-2" style="color: white; padding-bottom: 5%">[November 2019- January 2020]</h6>
                                        <p class="card-text" style="color: white">The purpose of this project is to boost the international outreach of a Sri Lankan based export business along with the intention of providing the client with a content management system to enable them to enter new products for display.</p>
                                        <p class="card-text" style="color: white">The system will also provide the users of the client’s web application the option to login and register to create their own profiles through which they can contact the business online and place orders for the export items. </p>
                                        <p class="card-text" style="color: white">The front end is handled by a mix of bootstrap and basic html embedded onto the django template language, while the backend is wholly created via django with the database being built on SQLite for improved transactions.</p>

                                </div>
                                </div>

                                <div class="card" style="width: 115%;margin-top: 5%">
                                <div class="card-body" style="background-color: #424241">
                                    <h5 class="card-title" style="color: white">Associate Operations Engineer: Pearson Education PLC</h5>
                                    <h6 class="card-subtitle mb-2" style="color: white; padding-bottom: 5%">[March 2020 - Current]</h6>
                                        <p class="card-text" style="color: white">Main duties included monitoring using NewRelic and debugging scripts which are currently based on selenium and debugging customer issues (Operations L1 support) based around data changes for major Pearson systems.</p>
                                        <p class="card-text" style="color: white">Creation of a ASP.NET Core based web tool for remote windows server maintenance, which is based upon Microsoft Management Infrastructure (MMI) Library, to remotely check status and start/stop/restart services.</p>
                                        <p class="card-text" style="color: white">Creation and Debugging of python scripts which are collected to measure the daily/weekly/monthly time utilization of PteOps members.</p>
                                        <p class="card-text" style="color: white">Debugging UI issues in PteOps Timetracker app which is based on Django for the backend and jQuery and Bootstrap for the frontend.</p>
                                </div>
                                </div>

                                </div>
                            </li>


						</ul>



					</div>

				</section>
</div>
    </body>


</html>
