{% extends 'base1.html' %}
{% load static %}
{% block page %}
   <link rel="stylesheet" type="text/css" href="{% static "css/neon.css" %}">


</head>

<body id="img1" style="width: auto;height: 100vh">

<div class="avatar" style="position: fixed;top: 20%;left: 50%; transform: translate(-50%, -50%);" id="myimage">
<img style="object-fit: cover; width: 200px;height: 200px; margin-left: -25px" src="{% static 'images/image_logo.jpg' %}" alt="My image" >
</div>

<div style="position: fixed;top: 55%;left: 50%; transform: translate(-50%, -50%);">
<a href="{% url 'porthome' %}" id="top_buttn"  >
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    The Dev

</a>
</div>
<div style="position: fixed;top: 65%;left: 50%; transform: translate(-50%, -50%);">
<a href="#" id="bottom_buttn" >
     <span></span>
    <span></span>
    <span></span>
    <span></span>
    The Gamer

</a>
</div>
</body>
<script>

VANTA.NET({
  el: "#img1",
  mouseControls: false,
  touchControls: false,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0x8f8fff,
  backgroundColor: 0x0,
  points: 7.00,
  maxDistance: 24.00,
  spacing: 20.00
})
</script>
</html>

{% endblock %}
